#set ($jQueryInclude = "/documents/10165/498023/jquery-latest.js/0d396618-0050-489c-8f96-100163768806");
#set ($d = '$');
#set ($h = '#');

<style>
.question-title {
    font-size: 1.125rem;
    color: #fff;
    background: #ff0000;
    text-align: center;
    padding: 4px 50px;
    margin: 10px 0;
}
ul.no-bullet {
    list-style: none;
}
.no-bullet.answers {
    width: 250px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    .question-title {
        margin-top: 97px;
    }
}
.quiz-step {
    display: none;
}
.quiz-step.current {
    display: block;
}
</style>



<div class="quiz-step step1 current">
     <h2 class="question-title">In your mind, what's most important?</h2>

    <ul class="no-bullet answers">
        <li>
            <input type="radio" name="q1" value="1" class="quiz-answer" />
            <label>Ability to express oneself</label>
        </li>
        <li>
            <input type="radio" name="q1" value="2" class="quiz-answer" />
            <label>Ability to look at the big picture</label>
        </li>
        <li>
            <input type="radio" name="q1" value="" class="quiz-answer" />
            <label>Drive and determination</label>
        </li>
        <li>
            <input type="radio" name="q1" value="" class="quiz-answer" />
            <label>Understand logic and science</label>
        </li>
    </ul>
</div>
<div class="quiz-step step2">
     <h2 class="question-title">What do you do best?</h2>

    <ul class="no-bullet answers">
        <li>
            <input type="radio" name="q2" value="1" class="quiz-answer" />
            <label>Deal with stress</label>
        </li>
        <li>
            <input type="radio" name="q2" value="2" class="quiz-answer" />
            <label>Effective time management</label>
        </li>
        <li>
            <input type="radio" name="q2" value="" class="quiz-answer" />
            <label>Use good judgment</label>
        </li>
        <li>
            <input type="radio" name="q2" value="" class="quiz-answer" />
            <label>Master interpersonal skills</label>
        </li>
    </ul>
</div>
<div class="quiz-step step3">
     <h2 class="question-title">What is the key to being a successful marketer?</h2>

    <ul class="no-bullet answers">
        <li>
            <input type="radio" name="q3" value="" class="quiz-answer" />
            <label>Knowledge of data and statistics</label>
        </li>
        <li>
            <input type="radio" name="q3" value="" class="quiz-answer" />
            <label>Logical thinking and problem solving</label>
        </li>
        <li>
            <input type="radio" name="q3" value="" class="quiz-answer" />
            <label>People person &ndash; interaction</label>
        </li>
        <li>
            <input type="radio" name="q3" value="" class="quiz-answer" />
            <label>Advising, Analying, Evaluating</label>
        </li>
    </ul>
</div>
<div id="results" class="quiz-step">

</div>


<script src="$jQueryInclude"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
${d}(document).ready(function(){
    var totalScore = 0;

    ${d}('.quiz-step').each(function() {
    var ${d}step = ${d}(this);
    ${d}step.find('.quiz-answer').click(function () {
        var ${d}this = ${d}(this);
        
        totalScore += parseInt(${d}this.attr('value'));
        alert(totalScore);
        
        
        if (${d}step.children('.active').length > 0) {
            var wasActive = ${d}step.children('.active');
            ${d}step.children('.active').removeClass('active');
            ${d}this.addClass('active');
        } else {
            ${d}this.addClass('active');
            updateStep(${d}step);
        }
    });
});

function updateStep(${d}currentStep) {
    if (${d}currentStep.hasClass('current')) {
        ${d}currentStep.removeClass('current');
        ${d}currentStep.next('.quiz-step').addClass('current');
    }
}
});
</script>