#set ($jQueryInclude = "/documents/10165/498023/jquery-latest.js/0d396618-0050-489c-8f96-100163768806")
#set ($d = '$')
#set ($h = '#')

<style>
.question-title {
    font-size: 1.125rem;
    color: #fff;
    background: #ff0000;
    text-align: center;
    padding: 4px 50px;
    margin: 10px 0;
}
ul.no-bullet {
    list-style: none;
}
.no-bullet.answers {
    width: 250px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    .question-title {
        margin-top: 97px;
    }
}
.quiz-step {
    display: none;
}
.quiz-step.current {
    display: block;
}
</style>

<div class="quiz-step current">
    $Erklaerung.getData()
    <button class="quiz-answer" value="0">Quiz starten</button>
</div>

#if (!$Frage.getSiblings().isEmpty())
	#foreach ($cur_Frage in $Frage.getSiblings())
	<div class="quiz-step">
	    $cur_Frage.getData()
	</div>
	#end
#end

<div id="results" class="quiz-step results">
$RueckmeldungGenerell.getData()
#if (!$RueckmeldungFuerPunkte.getSiblings().isEmpty())
	#foreach ($cur_RueckmeldungFuerPunkte in $RueckmeldungFuerPunkte.getSiblings())
	    #set ($points = 'points' + $cur_RueckmeldungFuerPunkte.Mindestpunkte.getData())
	    <div points="$cur_RueckmeldungFuerPunkte.Mindestpunkte.getData()" id="$points" class="result">
	        $cur_RueckmeldungFuerPunkte.getData()
	    </div>
    #end
#end
</div>

<script src="$jQueryInclude"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
${d}(document).ready(function(){
    var totalScore = 0;
    sortResults();

    ${d}('.quiz-step').each(function() {
    var ${d}step = ${d}(this);
    ${d}step.find('.quiz-answer').click(function () {
        var ${d}this = ${d}(this);
        
        totalScore += parseInt(${d}this.attr('value'));
        
        ${d}('div[id^="points"]').each(function() {
            var pointsForResponse = parseInt(${d}(this).attr('id').replace('points',''));
            
            if (totalScore >= pointsForResponse) {
                ${d}('div[id^="points"]').each(function() {
                    ${d}(this).hide();
                });
                
                ${d}(this).show();
            }
        });
        
        if (${d}step.children('.active').length > 0) {
            var wasActive = ${d}step.children('.active');
            ${d}step.children('.active').removeClass('active');
            ${d}this.addClass('active');
        } else {
            ${d}this.addClass('active');
            updateStep(${d}step);
        }
    });
});

function updateStep(${d}currentStep) {
    if (${d}currentStep.hasClass('current')) {
        ${d}currentStep.removeClass('current');
        ${d}currentStep.next('.quiz-step').addClass('current');
    }
}

function sortResults() {
var ${d}resdiv = ${d}('div.results');
var ${d}res = ${d}resdiv.children('div');

${d}res.sort(function(a,b){
	var an = a.getAttribute('points');
	var bn = b.getAttribute('points');

	if(an > bn) {
		return 1;
	}
	if(an < bn) {
		return -1;
	}
	return 0;
});

${d}res.detach().appendTo(${d}resdiv);
}

});
</script>
